html,
body {
  overflow: hidden;
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

canvas {
  background-image: linear-gradient(#fbfbf6, #fba0e3);
  position: fixed;
  top: 0;
  left: 0;
  color: #000;
  z-index: -1;
}

h1 {
  font-family: "Jacquarda Bastarda 9", serif;
  margin: 0;
  font-weight: 500;
}

h3 {
  font-family: "Cutive Mono", monospace;
  font-size: min(4vw, 25px);
  margin: 0;
  font-weight: 400;
}

a {
  color: #333;
}

a:visited {
  color: #333;
}

.big {
  font-size: min(10vw, 60px);
}

.small {
  font-size: min(5vw, 40px);
}

.flex-box-horizontal {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 11;
}

.dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  mix-blend-mode: screen;
  --circle_w: 2px;
  --m_bet_circle: 7px;
  --circle_color: #fba0e3;
  --bg_color: transparent;
  --A: calc(var(--circle_w) + var(--m_bet_circle));
  --B: calc(var(--circle_w) / 2);
  background:
    0 0 / var(--A) var(--A)
      radial-gradient(
        circle at center,
        var(--circle_color) var(--B),
        var(--bg_color) var(--B)
      ),
    center/cover no-repeat;
}
